<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="sidemenu" th:fragment="sidemenu">
        <ul class="sidemenu-list">
            <li>
                <a class="sidemenu-list-item sidemenu-link" href="/">
                    <i class="sidemenu-item-icon fa-solid fa-house"></i><span class="sidemenu-item-text">Home</span>
                </a>
            </li>
            <li>
                <a class="sidemenu-list-item sidemenu-link" href="/">
                    <i class="sidemenu-item-icon fa-solid fa-house"></i><span class="sidemenu-item-text">Projects</span>
                </a>
            </li>
            <li>
                <a class="sidemenu-list-item sidemenu-link" href="/">
                    <i class="sidemenu-item-icon fa-solid fa-house"></i><span class="sidemenu-item-text">About</span>
                </a>
            </li>
        </ul>
        <link href="/css/sidemenu.css" rel="stylesheet">
    </div>
</body>
</html>