#header {
    width: 100%;
    height: 210px;
    padding: 100px 20px 10px;
    margin-bottom: 50px;
    background-color: var(--bg-color-primary);
    color: var(--text-color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-bottom: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    box-shadow: 0 5px 30px var(--bg-color-primary);
}

.header-title {
    font-size: 2rem;
    transition: font-size 400ms;
}

.sticky > .header-title {
    transition-delay: 20ms;
    padding: 10px 0;
    font-size: 3.5rem;
    margin: 0;
}

.header-text {
    opacity: 1;
    visibility: visible;
    transition: opacity 500ms, visibility 50ms;
}

.sticky > .header-text {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.sticky {
    position: sticky;
    top: -100px;
    z-index: 1;
}