
.ham-menu .line {
    background-color: white;
    border-radius: 1em;
    width: 100%;
    height: 15%;
}

.ham-menu .line-1 {
    transform-origin: 0 0;
    transition: transform 100ms ease-in-out;
}

.ham-menu .line-3 {
    transform-origin: 0 100%;
    transition: transform 100ms ease-in-out;
}

.ham-menu.open .line-1 {
    display: block;
    transform: rotate(45deg) translate(3px, -3px);
}

.ham-menu.open > .line-2 {
    opacity: 0;
}

.ham-menu.open .line-3 {
    display: block;
    transform: rotate(-45deg) translate(3px, 3px);
}

.hide {
    display: none;
}

/*.ham-menu {*/
/*    display: none;*/
/*}*/

#sidemenu-container {
    width: 200px;
    max-width: 200px;
}

.sidemenu {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    background-color: var(--bg-color-primary);
    /*border-right: 2px solid var(--border-color);*/
    /*box-shadow: 2px -5px 30px var(--bg-color-primary);*/
    border-right: 1px solid var(--border-color);
}

.sidemenu-list {
    position: sticky;
    top: 0.5rem;
    list-style-type: none;
    padding: 0 1.5rem;
    margin: 0;
}

.sidemenu-list > li {
    padding: 0.5rem 0;
}

.sidemenu-list-item {
    display: grid;
    grid-template-columns: 32px 1fr;
}

.sidemenu-item-icon {
    color: var(--text-color-primary);
    padding: 8px;
    width: 32px;
    height: 32px;
}

.sidemenu-item-text {
    text-align: end;
    padding: 4px 8px;
}

.sidemenu-link {
    color: var(--text-color-link);
    text-decoration: none;
}

.sidemenu-link:hover {
    color: var(--text-color-link-hover);
}
.sidemenu-link:hover .sidemenu-item-text{
    color: var(--text-color-link-hover);
    text-decoration: underline;
}

@media (max-width: 975px){
    .sidemenu {
        width: fit-content;
        min-width: min-content !important;
    }

    .sidemenu-list {
        padding: 0.2rem;
    }

    .sidemenu-list-item {
        grid-template-columns: 1fr;
    }

    .sidemenu-item-text {
        text-align: center;
    }

    .ham-menu {
        height: 2rem;
        width: 2rem;
        position: sticky;
        top: 0.5rem;
        padding: 0.3rem;
        margin: 0 1.5rem 1rem;
        z-index: 2;
        display: flex !important;
        flex-direction: column;
        justify-content: space-around;
        background-color: var(--bg-color-secondary);
        border: 1px solid var(--border-color);
        border-radius: 0.25em;
        cursor: pointer;
    }
}
