body {
    --bg-color-body: #DAD7CD;
    --bg-color-primary: #344E41;
    --bg-color-secondary: #3A5A40;
    --text-color-primary: #DAD7CD;
    --text-color-link: #A9E4E3;
    --text-color-link-hover: #ABCBCA;
    --border-color: #ACB0BD;

    --timeline-item-width: 400px;
    --item-date-width: 200px;
    --timeline-item-odd-x-offset: 000px;
    --item-date-odd-x-offset: -000px;
    --timeline-item-even-x-offset: -000px;
    --item-date-even-x-offset: 000px;
    --item-date-y-offset: 75px;

    background-color: var(--bg-color-body) !important;
}

.timeline-container {
    display: flex;
    justify-content: center;
    width: fit-content;
}

.timeline {
    position: relative;
    width: 700px;
    margin: 0 auto;
    padding: 3em 0;
    list-style-type: none;
}

.timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 12px;
    height: 100%;
    background-color: var(--bg-color-primary);
}

.timeline-item {
    display: flow-root;
    height: fit-content;
    margin-bottom: 10px;
}

.direction-l, .direction-r {
    position: relative;
    width: 300px;
}

.direction-l {
    float: left;
    text-align: right;
    box-shadow: -2px 2px 3px #000000 !important;
}

.direction-r {
    float: right;
}

.direction-l:before, .direction-r:before {
    content: ' ';
    position: absolute;
    top: 25%;
    right: -70px;
    display: block;
    width: 24px;
    height: 24px;
    background: var(--bg-color-body);
    border: 6px solid var(--bg-color-secondary);
    border-radius: 50%;
}

.direction-r:before {
    left: -58px;
}

.direction-l:after, .direction-r:after {
    content: ' ';
    position: absolute;
    top: 25%;
    rotate: 45deg;
    width: 20px;
    height: 20px;
    background-color: var(--bg-color-primary);
    left: 288px;
    z-index: -1;
}

.direction-r:after {
    left: -12px;
}

.t-item-body {
    background: var(--bg-color-secondary);
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid var(--bg-color-primary);
    box-shadow: 2px 2px 3px #000000;
    color: var(--text-color-primary);
}

.t-item-body:hover {
    cursor: pointer;
}

.t-item-title {
    position: relative;
    display: flex;
    flex-direction: column;
    width: max-content;
}

.t-item-title > h5 {
    margin: 0;
}

.direction-l > .t-item-title {
    margin-left: auto;
}

.date-wrapper {
    position: relative;
}

.t-item-text {
    position: relative;
    font-style: italic;
}

.t-item-word {
    display: inline-block;
    transform: translate(-5%, -10%);
    margin-right: 0.3em;
    opacity: 0;
    transition: opacity 10ms, transform 200ms cubic-bezier(.90, .06, .15, .90);
}

.t-item-body:hover .t-item-word{
    transform: translate(0%, 0%);
    opacity: 1;
}

.card-header, .card-sidebar, .card-footer{
    background-color: var(--bg-color-primary) !important;
    color: var(--text-color-primary) !important;
    border-color: var(--border-color) !important;
}

.card {
    background-color: var(--bg-color-secondary) !important;
    color: var(--text-color-primary);
    border-color: var(--border-color) !important;
}

.card-header {
    position: sticky;
    top: 0;
    border-radius: 0 0.25rem 0 0 !important;
    z-index: 10;
}

.card-link {
    text-decoration: none;
    color: var(--text-color-primary);
}

.card-link:hover {
    text-decoration: underline;
    color: var(--text-color-primary);
}

.card-sidebar {
    position: absolute;
    translate: -150px;
    width: 150px;
    height: 100%;
    border-right: 1px solid;
    border-radius: 0.25rem 0 0 0.25rem;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    width: 100%;
    padding: 0 10px 10px;
    margin-top: 20px;
}

.card-sidebar > div {
    position: sticky;
    top: 20px;
}

.read-me-container {
    min-height: 592px;
}

.read-me-container a {
    color: var(--text-color-link);
}

.read-me-container a:hover {
    color: var(--text-color-link-hover);
}

.bean {
    background-color: var(--bg-color-secondary);
    border: 1px solid var(--border-color);
}